body{
background-image: url("../web/Unbenannt-2.webp");
background-size:cover;
background-repeat: repeat;
position: static;
}
 
  }
.homepage {
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 30px;
  }
