.interactive {
    background-image: url(https://media.discordapp.net/attachments/1020695454771593307/1090747662321586186/IMG_1548.png?width=1023&height=473);
    background-size: cover;
    background-repeat: repeat; 
}
  
  
.body {
    height: 100vh;
    margin: 0;
    display: flex;
    
    
  }
