.interactive {
    background-image: url(https://media.discordapp.net/attachments/1020695454771593307/1090747662321586186/IMG_1548.png?width=1023&height=473);
    background-size: cover;
    background-repeat: repeat;
    position: static; 
}
  
  
a{
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #544C4A;
}
li {
    float: left;
    border-right:1px solid #bbb;
}
li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #BABDC8;
}

.shadowTitle{
    text-shadow: 1px 3px 1px;
}
.center{
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.title{
    font-family: fantasy Georgia Serif;
    font-size: 40px;
}

.break{
    display: flex;
    justify-content: center;
    max-height: 100px;
    overflow: auto;
    padding-top: 25px;
    width: 100%
}
body{
    margin:0;
    padding:0;
    background-image: url("../image/vertin_wallpaper2.jpg");
    background-size:cover;
    background-repeat: repeat;
    position: static;
    height:100%;
    width:100%;
}
.navbar{
    background-color: black;
    display:flex;
    height: 3rem;
    min-height: 3rem;
    position:sticky;
    top:0;
    width:100%;
}
.content{
    flex-wrap:wrap;
    max-width: 100%;
    min-width:100%;
    display:flex;
    justify-content: center;
}
.contentBorder{
    margin:5%;
    padding:2.5%;
    border-radius: 2rem;
}
.contentMain{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-left:5%;
    margin-right:5%;
    min-width:80%;
    min-height:80%;
}
.header{
    display:flex;
    top: 1rem;
}
.container{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding-top: 2%;
}
.navbarLeft{
    float:left;
    display:block;
}
.navbarRight{
    float:right;
}
.footer{
    padding-top:10%;
    bottom:0;
    margin:0;
}
.footerC{

}
